* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

body {
  background-color: #fafafa;
}

.main-container {
  display: flex;
  margin-top: 50px;
}

.banner-container,
.form-container {
  flex: 1 1 0;
  width: 50%;
}

.banner-container {
  text-align: right;
}

.banner-container img {
  width: 100%;
  margin-top: 25px;
  margin-right: 15px;
  max-width: 410px;
}

.form-container {
  text-align: center;
  margin-top: 55px;
}

.form-box {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  width: 350px;
}

.logo-insta {
  width: 175px;
  height: 51px;
  margin: 20px auto 12px;
}

.login-form {
  margin-top: 20px;
}

.login-form input {
  display: block;
  font-size: 12px;
  padding: 12px 10px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
  width: 268px;
  margin: 5px auto;
}

.login-form input[type="submit"] {
  background-color: #0095f6;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  height: 30px;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.separator {
  position: relative;
}

.line {
  border-top: 1px solid #eaeaea;
  width: 268px;
  margin: 30px auto 40px;
}

.separator span {
  position: absolute;
  text-transform: uppercase;
  color: #bbb;
  background-color: #fff;
  top: -6px;
  width: 50px;
  margin-left: -25px;
  font-size: 13px;
  font-weight: bold;
}

.facebook-login {
  margin-bottom: 20px;
}

.fa-facebook {
  font-size: 20px;
}

.facebook-login a {
  text-decoration: none;
  color: #3579ea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.facebook-login span {
  font-weight: bold;
  font-size: 14px;
}

.forgotten-password {
  margin-bottom: 20px;
}

.forgotten-password a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #3579ea;
}

.register-container {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  width: 350px;
  margin-top: 10px;
  padding: 25px 0;
}

.register-container p {
  font-size: 14px;
}

.register-container a {
  text-decoration: none;
  color: #3579ea;
  font-weight: bold;
}

.get-app-container {
  text-align: center;
  width: 350px;
}

.get-app-container p {
  margin: 15px 0;
  font-size: 14px;
}

.get-app-container img {
  width: 170px;
  height: 50px;
}

footer {
  text-align: left;
  width: 80%;
  margin: 150px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-links {
  display: flex;
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a,
.copyright {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 12px;
}

.copyright {
  margin-top: 10px;
}

/* Mobile */
@media (max-width: 450px) {
  body {
    background-color: #fff;
  }
  .banner-container {
    display: none;
  }

  .main-container,
  .form-box {
    margin-top: 0;
  }

  .form-container,
  .form-box,
  .register-container,
  .get-app-container {
    width: 100%;
    border: none;
  }

  footer {
    width: 80%;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright {
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .form-container {
    margin-top: 35px;
  }

  .main-container {
    width: 100%;
    padding: 0 20px;
  }

  footer {
    width: 80%;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright {
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .form-container {
    margin-top: 55px;
  }

  .main-container {
    width: 90%;
    margin: 50px auto;
    padding: 0 20px;
  }

  footer {
    width: 90%;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright {
    margin-bottom: 20px;
  }
}
